#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.label-form{
  font-family: monospace;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

.container-log-setup {
    height: 600px;
    width: 1200px;
    background: rgba(1, 18, 53, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.input-button {
    width: 382px;
    padding: 12px 16px;
    background-color: #5a9eff;
    color: #ddd;
    border: none;
    border-radius: 5px;
    outline-color: #87a1c5;
    font-size: 16px;
    font-family: 'Cascadia Mono';
    font-weight: 400;
    font-size: small;
}

.input-button:hover {
background-color: #2573e0; /* lighter on hover */
}

.input-button:active {
background-color: #002b68; /* darker when clicked */
}

.input-button:disabled {
background-color: #444;
cursor: not-allowed;
opacity: 0.6;
}


